* {
	font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	font-weight: normal;
}

html {
	background-color: white;
	color: #666;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}

body {
	margin: 3px;
	margin-left: 6px;
}

a:link		{ color: #900; }
a:visited	{ color: #900; }
a:active	{ color: #03c; }
a:hover		{ color: #03c; }

a:active, a:hover, a:link, a:visited {
	text-decoration: none;
}

nav {
	text-align: center;
}

nav h1 {
	font-weight: lighter;
	font-size: 36pt;
}

nav,
nav a:link,
nav a:visited,
nav a:active {
	color: #ccc;
}

nav a:hover {
	color: #03c;
}

ul {
	margin-top: 4px;
}

p, li {
	margin-top: 0;
	margin-bottom: 4px;
	font-size: 10pt;
}

h1, h2, h3 {
	margin-top: 18px;
	margin-bottom: 4px;
	font-size: 14pt;
	font-weight: bold;
}

@media screen {
	main {
		padding-top: 40px;
		padding-bottom: 26px;
	}
}
