html {
	font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	font-weight: normal;
	background-color: #eee;
	background-image: linear-gradient(5deg,#ccc,#eee,#eee);
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: #666;
	height: 100%;
}

body {
	margin: 3px;
	margin-left: 6px;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}

a:active, a:hover, a:link, a:visited {
	color: #900;
	text-decoration: none;
}
a:hover {
	color: #03c;
}

nav {
	text-align: center;
}

nav h1 {
	font-weight: 100;
	font-size: 36pt;
}

nav,
nav a:link,
nav a:visited,
nav a:active {
	color: #ccc;
}

nav a:hover {
	color: #03c;
}

ul {
	margin-top: 4px;
}

p, li {
	margin-top: 0;
	margin-bottom: 4px;
	font-size: 10pt;
}

h1, h2, h3 {
	margin-top: 18px;
	margin-bottom: 4px;
	font-size: 14pt;
	font-weight: bold;
}

p.post-date {
	font-size: 9pt;
	margin-top: 0;
	margin-bottom: 13px;
}

@media screen {
	main {
		padding-top: 40px;
		padding-bottom: 26px;
	}

	.post-date {
		color: #ccc;
	}
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
	nav h1 {
		font-size: 22pt;
		margin-top: 0;
	}
	nav p {
		margin: 0;
	}
	main {
		padding-top: 6px;
		padding-bottom: 0;
	}
}

