@font-face {
	font-family: 'Equity Text B';
	src: url('http://gerstendoerfer.com/lib/equity-text-b-regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Equity Text B';
	src: url('http://gerstendoerfer.com/lib/equity-text-b-italic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Equity Text B';
	src: url('http://gerstendoerfer.com/lib/equity-text-b-bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}


html {
	background-color: white;
	background-image: none;
	color: black !important;
	font-family: "Equity Text B", "Adobe Caslon Pro", "Caslon", "Georgia", serif;
	font-weight: normal;
	font-size: 9pt;
}

body {
	margin-left: 80px;
	margin-right: 100px;
}

h1, h2, h3 {
	font-size: 14pt;
}

a:active, a:hover, a:link, a:visited {
	color: black !important;
}

p {
	margin-bottom: 12px;
	page-break-inside: avoid;
}

nav, .footer {
	display: none;
}
