<!DOCTYPE html>
<html lang="de">
	<head>
		<meta charset='utf-8'>
		<title>{{ page.title }} | gerstendoerfer.ch</title>
		<link rel="STYLESHEET" type="text/css" href="/default.css">
		<link rel="alternate" type="application/atom+xml" href="feed.xml" title="Sitewide ATOM Feed">
		<script>
			document.createElement('nav');
			document.createElement('main');
		</script>
	</head>
	<body>
		<nav>
			<h1><a href="/">gerstendoerfer.ch</a></h1>
			<p>Gedanken an der Schnittstelle von Kunst, Technologie und allem anderen. Von <a href="http://gerstendoerfer.com">Thomas Gerstendörfer</a>.</p>
		</nav>
		<main>
			<h1>{{ page.title }}</h1>
			{{ content }}
		</main>
	</body>
</html>
