<!DOCTYPE html>
<html lang="de">
	<head>
		<meta charset='utf-8'>
		<title>{{ page.title }} | gerstendoerfer.ch</title>
		<link rel="STYLESHEET" type="text/css" href="/default.css">
		<link rel="alternate" type="application/atom+xml" href="feed.xml" title="Sitewide ATOM Feed">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta property="fb:profile_id" content="100003235693715" />
		<meta property="og:type" content="website" />
		<meta property="og:locale" content="de_CH" />
		<meta property="og:site_name" content="gerstendoerfer.ch" />
		<meta property="og:title" content="{{ page.title }}" />
		<meta property="og:description" content="{{ page.description }}" />
		<script>
			document.createElement('nav');
			document.createElement('main');
		</script>
	</head>
	<body>
		<nav>
			<h1><a href="/">gerstendoerfer.ch</a></h1>
			<p>Gedanken an der Schnittstelle von Kunst, Technologie und allem anderen.</p>
			<p>Von <a href="http://gerstendoerfer.com">Thomas Gerstendörfer</a>.</p>
		</nav>
		<main>
			<h1>{{ page.title }}</h1>
			{{ content }}
		</main>
	</body>
</html>
