<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8'>
		<title>{{ page.title }} | gerstendoerfer.ch</title>
		<link rel="STYLESHEET" type="text/css" href="http://www.gerstendoerfer.com/v10.css">
	</head>
</html>
	<body lang="de">
		<div id="header">
			<h1 style="font-weight: 100"><a href="/">gerstendoerfer.ch</a></h1>
			<p>Gedanken an der Schnittstelle von Kunst, Technologie und allem anderen.</p>
		</div>
		<div id="main">
			<h1>{{ page.title }}</h1>
			{{ content }}
		</div>
		<p class="footer">Copyright &#169; 2013 Thomas Gerstendörfer. All rights reserved.
		<br>Mehr zu mir auf <a href="http://www.gerstendoerfer.com">gerstendoerfer.com</a>.</p>
	</body>
</html>
